{% extends 'blog/layout.html.twig' %}

{% set page_title = 'Authors' %}
{% block page_title %}{% endblock %}

{% block col_left_content %}
    <div class="col-lg-8 col-md-10 mx-auto">
        {% for a in authors %}
            <h3>{{ a.name }}</h3>
            <ul>

                {% for art in a.articles %}
                    <li><a href="{{ path('app_blog_show', {'id': art.id}) }}">{{ art.title }}</a> </li>
                {% endfor %}

            </ul>
            <hr>
        {% endfor %}
{% endblock %}
