{% extends 'base.html.twig' %}

{% block navigation %}
    {% include '_partials/_navigation.html.twig' %}
{% endblock %}
{% block author %}{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
            {% block first_row %}
                    {% block col_left_content %}
                    {% endblock %}
            {% endblock %}
        </div>
    </div>
{% endblock %}